@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

#registration, #login {
    background-image: url("https://images.unsplash.com/photo-1671372678599-d6267ead7291?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: 100% 100%;
}

#main-title, #quote {
    font-family: 'Satisfy', cursive;
}